@media(min-width:1051px) {
    .main{
        /* height:10000px; */
        background-color: rgb(3, 3, 3);
        /* border: 1px solid black; */
    
    }
    /* body{
        background-color: rgb(8, 7, 7);
        /* border: 3px solid rgb(95, 95, 95); */
        
    
    
    .A{
        background-color: rgb(41, 165, 10);
        height: auto;
        
    }

    .B{
        width: 30%;
        height: 100%;
        margin: 20px;
    
    }
    .C{
        background-color: rgb(10, 10, 10);
        margin-left: 8%;
        display: flex;
        margin-right: 8%;
        justify-content: flex-start;
        /* justify-content: space-around; */
        justify-content: space-between;
        align-items: center;
        /* flex-direction: row; */
    }
    .E{
        display: inline;
    }
    .AS{
        display: inline;
    }
    #a{
        /* flex-grow: 1; */
        text-align: center;
        color: rgb(119, 147, 236);
    }
    #b{
        /* flex-grow: 2; */
        text-align: center;
        color: rgb(119, 147, 236);
    }
    #c{
        /* flex-grow: 1; */
        text-align: center;
        color: rgb(119, 147, 236);
    }
    #d{
        /* flex-grow: 1; */
        text-align: center;
        color: rgb(119, 147, 236);
    }
    #e{
        /* flex-grow: 2; */
        text-align: center;
        color: rgb(119, 147, 236);
    }
    .AC{
        display: flex;
    
    }
    .E{
        width: 75px;
        padding: 2% 0%;
        box-sizing: border-box;
        margin: 0% 1% 0% 0%;
        background-color: rgb(34, 34, 34);
    }
    .E:hover{
        text-decoration: underline; 
        background-color: darkgreen;
    }.G{
        display: flex;
        list-style-type: none;
    }
    li{
        background-color: #fff;
        margin: 0% 1% 0% 1%;
        padding: 0.5%;
        border-radius: 4px;
    }
    .main2{
        z-index: 1;
        display: none;
        /* float: center; */
        overflow: auto;
        position: absolute;
    }
    .main1:hover .main2{
        display: block;
        background-color: rgb(14, 13, 13);
    }
    .AH{
        /* padding-left: 15px; */
        /* padding-right: 15px; */
        /* padding-top: 8px; */
        /* padding-bottom: 8px; */
        border-radius: 15px;
        margin-left: 21%;
        
    }
    .AI{
        /* padding-left: 15px; */
        /* padding-right: 15px; */
        /* padding-top: 8px; */
        /* padding-bottom: 8px; */
        border-radius: 15px;
        margin-left: 0px;
    }
    #ag{
        margin-left: 5.5%;
    }
    .AH:hover{
        background-color: cadetblue;
        color: black;
        opacity: 0.3;
    }
    .AI:hover{
        background-color: cadetblue;
        color: black;
        opacity: 0.3;
    }
    .main2{
        background-color: rgb(20, 20, 20);
        /* float: left; */
        border-radius: 4px;
        position: absolute;
        right: 3px;
        margin: 0% 8%;
    }
    .fg{
        padding: 1% 0.5%;
        margin: 0.5% 0.4%;
        text-align: center;
        background-color: rgb(39, 34, 34);
        display: inline-flex;
        color: royalblue;
        border-radius: 2px;

    }
    .AJ{
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 50px;
        color: seashell;
        /* margin: 10% 8% 2% 8%; */
    }
    .H{
        margin: 9% 8%;
        /* margin-top: 150px; */
        color: cornsilk;
        font-weight: 800;
    }
    .J{
        background-color: rgb(20, 20, 20);
        width: 180px;
        margin-top: 5px;
        padding: 15px;
    
    }
    /* div{
        border: 2px solid whitesmoke;
    } */
    .K{
        padding-right: 15px;
        padding-left: 15px;
       margin-right: 1px;
        background-color: rgb(33, 34, 34);
        padding-top: 14px;
        padding-bottom: 14px;
        border-radius: 3px;
    }
    .L{
        padding-right: 15px;
        padding-left: 25px;
        margin-left: 1px;
        background-color: rgb(33, 34, 34);
        padding-top: 14px;
        padding-bottom: 14px;
        border-radius: 3px;
    }    
    .K:hover{
        color: green;
        text-decoration-color: green;
        text-decoration-line: underline;
        background-color: rgb(51, 51, 50);
    }
    .L:hover{
        color: green;
        text-decoration-color: green;
        text-decoration-line: underline;
        background-color: rgb(51, 51, 50);
    }
    .M{
        margin: 5% 8%;
    }
    img{
        width: 100%;
    }
    .N{
        margin-left: 100px;
        margin-top: 80px;
        color: cornsilk;
        font-weight: 800;
    }
    .J1{
        background-color: rgb(20, 20, 20);
        width: 180px;
        margin-top: 10px;
        padding: 15px;
        margin-left: 100px;
        padding-left: 20px;
        color: cornsilk;
        font-weight: 800;
    
    }
    .K1{
        padding-right: 15px;
        padding-left: 15px;
       margin-right: 1px;
        background-color: rgb(33, 34, 34);
        padding-top: 14px;
        padding-bottom: 14px;
        border-radius: 3px;
    }
    .L1{
        padding-right: 15px;
        padding-left: 15px;
       margin-right: 1px;
        background-color: rgb(33, 34, 34);
        padding-top: 14px;
        padding-bottom: 14px;
        border-radius: 3px;
    }
    .K1:hover{
        color: green;
        text-decoration-color: green;
        text-decoration-line: underline;
        background-color: rgb(51, 51, 50);
    }
    .L1:hover{
        color: green;
        text-decoration-color: green;
        text-decoration-line: underline;
        background-color: rgb(51, 51, 50);
    }
}




@media(min-width:1346px) {
    .main{
        /* height:10000px; */
        background-color: rgb(3, 3, 3);
        /* border: 1px solid black; */
    
    }
    /* body{
        background-color: rgb(8, 7, 7);
        /* border: 3px solid rgb(95, 95, 95); */
        
    
    
    .A{
        background-color: rgb(41, 165, 10);
        height: auto;
        
    }
    .B{
        width: 250px;
        height: 90px;
        margin: 20px;
        
    }
    .C{
        background-color: black;
        margin-left: 80px;
        display: flex;
        margin-right: 80px;
        justify-content: flex-start;
        justify-content: space-around;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    .D{
        align-self: center;
        /* margin-right: -20px; */
    }
    .AS{
        width: 300px;
        padding: 5px;
    }
    .E{
        background-color: rgb(19, 17, 17);
        color: blanchedalmond;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-weight: 600;
        /* height: 40px; */
        transition: all 2 ease-in-out;
        transition-duration: 2s;
        
    }
    .E:hover{
        text-decoration: underline; 
    }
    
    #a{
        flex-grow: 1;
        text-align: center;
        grid-area: home;
        color: rgb(119, 147, 236);
    }
    #b{
        flex-grow: 2;
        text-align: center;
        grid-area: manga;
        color: rgb(119, 147, 236);
    }
    #c{
        flex-grow: 1;
        text-align: center;
        grid-area: manhua;
        color: rgb(119, 147, 236);
    }
    #d{
        flex-grow: 1;
        text-align: center;
        grid-area: manhwa;
        color: rgb(119, 147, 236);
    }
    #e{
        flex-grow: 2;
        text-align: center;
        grid-area: novel;
        color: rgb(119, 147, 236);
    }
    .AC{
        display: grid;
        grid:
            'home home home manga manga manga manga  manhua manhua manhua manhwa manhwa manhwa novel novel novel';
        grid-column-gap: 10px;   
    
    }
    li{
        border: 1px solid black;
        list-style-type: none;
        display:inline-block;
        background-color: rgb(19, 18, 18);
        margin: 10px;
        color: cornflowerblue;
        font-weight: 800;
    }
    .main2{
        z-index: 1;
        display: none;
        /* float: center; */
        overflow: auto;
        /* position: absolute; */
    }
    .main2{
        background-color: rgb(20, 20, 20);
        /* float: left; */
        border-radius: 4px;
        position: absolute;
        right: 3px;
        margin: 0% 8%;
    }
    .main1:hover .main2{
        display: block;
        background-color: rgb(14, 13, 13);
    }
    .fg{
        margin-bottom: 1px;
        /* border: solid; */
        width: 14%;
        border-radius: 2px;
        background-color: rgb(19, 18, 18);
        display: inline-block;
        text-align: center;
        padding: 10px;
    
    }
    
    .AG{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 3px;
        
    }
    .F{
        background-color: rgb(8, 8, 8);
        /* border: 10px solid black; */
        align-content: center;
    }
    .AG:hover{
        background-color: rgb(37, 37, 37);
        color: darkgreen;
        text-decoration: underline;
    }
    .AH{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 15px;
        margin-left: 300px;
        
    }
    .AI{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 15px;
        margin-left: -10px;
    }
    #ag{
        margin-left: 40px;
    }
    .AH:hover{
        background-color: cadetblue;
        color: black;
        opacity: 0.3;
    }
    .AI:hover{
        background-color: cadetblue;
        color: black;
        opacity: 0.3;
    }
    .H{
        margin: 100px;
        margin-top: 150px;
        color: cornsilk;
        font-weight: 800;
    }
    .I{
        background-color: rgb(8, 8, 8);
        padding-left: 10px;
        width: 400px;
        margin-top: 30px;
    }
    .AJ{
        font-size: 35px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .J{
        background-color: rgb(20, 20, 20);
        width: 180px;
        margin-top: 5px;
        padding: 15px;
    
    }
    /* div{
        border: 2px solid whitesmoke;
    } */
    .K{
        padding-right: 15px;
        padding-left: 15px;
       margin-right: 1px;
        background-color: rgb(33, 34, 34);
        padding-top: 14px;
        padding-bottom: 14px;
        border-radius: 3px;
    }
    .L{
        padding-right: 15px;
        padding-left: 25px;
        margin-left: 1px;
        background-color: rgb(33, 34, 34);
        padding-top: 14px;
        padding-bottom: 14px;
        border-radius: 3px;
    }    
    .K:hover{
        color: green;
        text-decoration-color: green;
        text-decoration-line: underline;
        background-color: rgb(51, 51, 50);
    }
    .L:hover{
        color: green;
        text-decoration-color: green;
        text-decoration-line: underline;
        background-color: rgb(51, 51, 50);
    }
    .M{
        margin-left: 100px;
    }
    .N{
        margin-left: 100px;
        margin-top: 80px;
        color: cornsilk;
        font-weight: 800;
    }
    .J1{
        background-color: rgb(20, 20, 20);
        width: 180px;
        margin-top: 10px;
        padding: 15px;
        margin-left: 100px;
        padding-left: 20px;
        color: cornsilk;
        font-weight: 800;
    
    }
    .K1{
        padding-right: 15px;
        padding-left: 15px;
       margin-right: 1px;
        background-color: rgb(33, 34, 34);
        padding-top: 14px;
        padding-bottom: 14px;
        border-radius: 3px;
    }
    .L1{
        padding-right: 15px;
        padding-left: 15px;
       margin-right: 1px;
        background-color: rgb(33, 34, 34);
        padding-top: 14px;
        padding-bottom: 14px;
        border-radius: 3px;
    }
    .K1:hover{
        color: green;
        text-decoration-color: green;
        text-decoration-line: underline;
        background-color: rgb(51, 51, 50);
    }
    .L1:hover{
        color: green;
        text-decoration-color: green;
        text-decoration-line: underline;
        background-color: rgb(51, 51, 50);
    }
    .Jk2{
        display: grid;
        padding: 1% 1%;
        color: cornsilk;
        justify-content: start;
        text-align: center;
        grid: 15% 15% 15% 15% 15% 15% 15% 15% 15% / 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
    }
    .Jk2{
        background-color: rgb(40, 41, 40);
        width: 70%;
        margin: 1% 30% 1% 15%;
        border-radius: 8px;
    }
    .Jk11{
        color: whitesmoke;
        text-align: center;
        padding: 1% 0%;
        border-radius: 8px;
        width: 40%;
        /* justify-content: end; */
        margin: 2% 25% 0% 30%;
        background-color: rgb(21, 233, 21);
    }
    .Jk1{
        padding: 3% 2%;
        margin: 2% 8% 4% 9%;
        /* margin-top: 30px; */
        background-color: rgb(19, 19, 19);
        border-radius: 20px;
        width: 90%;
    }
    .Jk1:hover{
        background-color: darkgreen;
        color: whitesmoke;
    }
    .JK{
        background: #000;
        margin-top: -2%;
    }
    .bnav{
        margin-left: 20%;
        margin-right: 20%;
        display: flex;
        justify-content: center;
        width: 60%;
        padding: 1% 0%;
        color: rgb(20, 18, 175);
        /* background-color: rgb(32, 32, 32); */
    }
    .navb{
        background-color: rgb(19, 19, 19);
        margin: 0% 1%;
    }
    .vertical{
        border-left: 3px solid white;
        margin: 0% 2%;
    }
    .navb:hover{
        color: whitesmoke;
        background-color: teal;
    }
    .para{
        text-align: center;
        margin: 3% 3% 1% 3%;
        background-color: rgb(19, 17, 17);
    }
}